@model WeatherDisplay.Models.Profile.FirstNameEditVM;

<div class="row mb-4 align-items-center">
    <div class="col-md-3 fw-bold">성</div>
    <div class="col-md-6">@Model.FirstName</div>
    <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-secondary btn-sm" onclick="toggleSection('firstNameForm')">변경</button>
    </div>
    <div class="col-12 mt-2" id="firstNameForm" style="display:none;">
        <form asp-action="EditUserFirstName" method="post">
            <input asp-for="FirstName" class="form-control" />
            <button type="submit" class="btn btn-primary mt-2">저장</button>
        </form>
    </div>
</div>