@using WeatherDisplay.Models.Profile
@model WeatherDisplay.Models.Profile.ProfileEditVM
@{
    ViewData["Title"] = "사용자 프로필";
}

<h2 class= "mb-4">@ViewData["Title"]</h2>

<div class="card">
    <div class="card-body">
        @await Html.PartialAsync("_EditFirstNamePartial", Model.FirstNameEdit)

        @await Html.PartialAsync("_EditLastNamePartial", Model.LastNameEdit)

        @await Html.PartialAsync("_EditEmailPartial", Model.EmailEdit)

        @await Html.PartialAsync("_EditDateOfBirthPartial", Model.DateOfBirthEdit)

        @await Html.PartialAsync("_EditPasswordPartial", Model.PasswordEdit)
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        function toggleSection(id) {
            const el = document.getElementById(id);
            el.style.display = (el.style.display === "none") ? "block" : "none";
        }
    </script>
}